$cyan: rgba(100,240,255,1);
$lavender: rgba(202,140,250,1);
$purple: rgba(205,81,255,1);

$dark-blue: rgb(25, 39, 52);
.page {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    background-color: $dark-blue;

    ::-webkit-scrollbar {
        background-color: transparent;
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: darkgray;
        border-radius: 10px;
        width: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: tan;
        border-radius: 10px;
        width: 5px;
    }

    .content {
        overflow: auto;
        height: auto;
    }
    .selected {
        margin-right: 10px;
    }

    .entry-wrapper{
        width: 100%;
        height: min-content;
        display: flex;
        align-content: center;
        justify-content: center;

        .entry-item {
            color: black;
            display: flex;
            border-radius: 15px;
            background: slategray;
        }
        .entry-item:hover{
            background: #1976d2;
            transition: background 0.4s;
        }

        .entry-action-container {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
        }
    }
    .entry-wrapper:hover{
        background-color: transparent;
    }

    .market-button {
        border-radius: 0 0 10px 10px;
    }

    h6{
        margin: 0;
    }
    h5 {
        margin: 5px 0;
        color: tan;
    }

}