.navbar{
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    width: 90%;    
    padding: 10px 0;
    border-bottom: 2px solid gray;

    .icon {
        color: black;
    }

    h6 {
        margin: 0;
        color: black;
        align-self: center;
        font-size: large;
    }
}